<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-12">
            <a href="javascript:void(0)" class="float-right" (click)="logout()">Logout</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12 mt-2">
            <div class="card">
                <h5 class="card-header text-center">Task Master</h5>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 form-group mb-3">
                                <input class="form-control" placeholder="My Task list" type="text" ngModel name="task"
                                    id="task" #taskValue required>
                                <div class="text-danger"
                                    *ngIf="f.submitted && f?.controls?.['task']?.errors?.['required']">
                                    Task required.
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group mb-3">
                                <input class="form-control btn btn-primary btn-" type="submit" value="submit">
                            </div>
                        </div>
                    </form>

                    <h5 class="card-title">Task statistics</h5>
                    <p class="card-text">Pending: {{pendTask.length}} Completed: {{compTask.length}}</p>
                    <h5 class="card-title">Pending Task</h5>
                    <div>
                        <div *ngFor="let pTask of pendTask" class="alert alert-warning" role="alert">
                            {{pTask.value}}
                            <a class="mr-1" (click)="changeTaskStatus(pTask.value, 1)" href="javascript:void(0)"><i
                                    class="bi bi-toggle2-on"></i></a>
                            <a class="mr-1" (click)="taskValue.value = pTask.value; editTask = pTask.value;"
                                href="javascript:void(0)"><i class="bi bi-pencil"></i></a>
                            <a class="mr-1" (click)="onClickDelete(pTask.value)" href="javascript:void(0)"><i
                                    class="bi bi-trash"></i></a>
                        </div>
                    </div>
                    <h5 class="card-title">Complete Task</h5>
                    <div>
                        <div *ngFor="let cTask of compTask" class="alert alert-success" role="alert">
                            {{cTask.value}}
                            <a class="mr-1" (click)="changeTaskStatus(cTask.value, 0)" href="javascript:void(0)"><i
                                    class="bi bi-toggle2-off"></i></a>
                            <a class="mr-1" (click)="taskValue.value = cTask.value; editTask = cTask.value;"
                                href="javascript:void(0)"><i class="bi bi-pencil"></i></a>
                            <a class="mr-1" (click)="onClickDelete(cTask.value)" href="javascript:void(0)"><i
                                    class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>